<%= form_with(model: post, local: true, class: "box") do |form| %>
  <% if post.errors.any? %>
    <div class="notification is-danger">
      <h2><%= pluralize(post.errors.count, "error") %> impidió que este post fuera guardado:</h2>
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, class: "label" %>
    <div class="control">
      <%= form.text_field :title, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :content, class: "label" %>
    <div class="control">
      <%= form.text_area :content, class: "textarea" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :image, "Subir Imagen" %>
    <div class="control">
      <%= form.file_field :image %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit "Guardar Post", class: "button is-primary" %>
    </div>
  </div>
<% end %>

