<%= form_with(model: post, local: true, class: "box") do |form| %>
  <% if post.errors.any? %>
    <div class="notification is-danger">
      <h2><%= pluralize(post.errors.count, "error") %> impidió que este post fuera guardado:</h2>
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, class: "label" %>
    <div class="control">
      <%= form.text_field :title, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :content, class: "label" %>
    <div class="control">
      <%= form.text_area :content, class: "textarea" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :image, "Subir Imagen", class: "label" %>
    <div class="control">
      <div class="file has-name is-boxed is-primary">
        <label class="file-label">
          <%= form.file_field :image, class: "file-input" %>
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Elige una imagen...
            </span>
          </span>
          <span class="file-name" id="file-name">
            No se ha seleccionado ningún archivo
          </span>
        </label>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit "Guardar Post", class: "button is-primary" %>
    </div>
  </div>
<% end %>

<script>
  // JS para mostrar el nombre del archivo seleccionado
  document.querySelector('.file-input').addEventListener('change', function(e) {
    const fileName = e.target.files[0]?.name || "No se ha seleccionado ningún archivo";
    document.getElementById('file-name').textContent = fileName;
  });
</script>


