<div id="<%= dom_id post %>" class="box">
  <p class="title is-4">
    <strong>Título:</strong>
    <%= post.title %>
  </p>

<!-- muestro la imagen del post si está adjunta -->
<% if post.image.attached? %>
  <div>
    <%= image_tag post.image.variant(resize_to_limit: [300, 300]), class: "image" %>
  </div>
<% end %>

  <p class="content">
    <strong>Contenido:</strong>
    <%= post.content %>
  </p>

  <p class="has-text-grey">
    <strong>Usuario:</strong>
    <%= post.user.name %>
  </p>
</div>

